#!/bin/bash
export GEO_NAMES_USERNAME=asdf1
export TELEGRAM_BOT_TOKEN=asdf2
export TELEGRAM_WEBHOOK_SECRET_TOKEN=asdf3
export UPSTASH_TOKEN=asdf4
export UPSTASH_URL=asdf5

bundle exec falcon serve --bind http://0.0.0.0:3000
